@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.nav-header {
  box-sizing: border-box;
  z-index: 40;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
}

.nav-header img {
  padding-top: 7px;
}

ul {
  display: flex;
  list-style: none;
  margin-right: 5px;
}

ul a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.seccion-video {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.video-tag {
  mask-image: linear-gradient(#151515 70%, transparent);
}

.seccion-video h2 {
  padding-top: 200px;
  font-size: 2em;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3em;
  letter-spacing: 1px;
  animation: animate 1.5s ease;
}

.content-wrapper {
  z-index: 30;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-header p {
  font-size: 1.2em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    animation: animate 1.6s ease;
}

.content-footer {
  z-index: 30;
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 200px;
}

.content-footer div .button {
  text-decoration: none;
  color: #fff;
  border: solid 1px #fff;
  padding: 10px 30px;
  letter-spacing: 1px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    animation: animate 1.7s ease;
}

.content-footer div .button:hover {
  background-color: #fff;
  color: #000;
}

.video-wrapper {
  z-index: 10;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.video-tag {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translateY(0, 100px);
    filter: blur(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

/* MAIN (tarjetas) */

.seccion-tarjetas {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000ea;
  background-image: url(Assets/tile_background.png);
  background-size: cover;
}

.titulo {
  font-size: 2.5em;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  align-self: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}

.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 20px;
  max-width: max-content;
  position: relative;
}

.card-container {
  width: 270px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 6px solid #fff;
  position: relative;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background-color: #232877e5;
  backdrop-filter: blur(3px);
  padding: 30px;
  color: #fff;
  transition: 1.5s;
  box-sizing: border-box;
}

.card-content .p-descripcion {
  letter-spacing: 4px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card-container:hover .card-content {
  right: 0;
}

.card-content h2 {
  font-size: 50px;
  text-transform: uppercase;
}

.card-content .p-below {
  font-size: 25px;
  text-transform: capitalize;
}

.p-below + p {
  margin-top: 20px;
}

@media (width < 882px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    padding: 0.7rem;
  }

  .card-container {
    width: 100%;
  }

  .seccion-tarjetas {
    background-image: none;
  }

}

@media (width < 581px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

@media (width < 1143px) {
  .nav-header {
    background-color: rgba(29, 29, 32, 0.9);
  }

  .titulo {
    padding-top: 48px;
  }
}


/* FOOTER */

.endFooter {
  background-color: #000;
  padding-bottom: 5px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-top: 20px;
}

.endFooter p {
  color: #fff;
  text-align: center;
}

.endFooter .rights {
  padding-top: 20px;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.endFooter a img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  padding-top: 5px;
}

